<p-blockUI [blocked]="blocked">
  <p-progressSpinner></p-progressSpinner>
  <div class="block-ui-text">{{ loadingText }}</div>
</p-blockUI>

<div class="container">
  <div class="main-container">
    <app-association-edit-form #editForm
                               [selectedAssociationId]="selectedAssociation?.id"
                               [isNew]="isNew"
                               (blockUi)="blockUi($event)"
                               (reload)="reload($event)">
    </app-association-edit-form>
  </div>
</div>

<p-sidebar [(visible)]="sidebarExpanded"
           [position]="'right'"
           [showCloseIcon]="true"
           [modal]="false">
  <div class="sidebar-content">
    <div class="row" style="margin-bottom: 12px;">
      <div class="col-6">
        <p-button (onClick)="submit()" [disabled]="!editForm?.associationForm?.valid">
          <i class="pi pi-save"></i>&nbsp;&nbsp;Speichern
        </p-button>
      </div>
      <div class="col-6" style="text-align: right;">
        <span class="delete-button">
          <p-button (onClick)="reset()">
            <i class="pi pi-backward"></i>&nbsp;&nbsp;Reset
          </p-button>
        </span>
      </div>
    </div>

    <div class="row" style="margin-bottom: 12px;">
      <div class="col-6">
        <p-button (click)="selectAssociation(undefined, true)" [disabled]="isNew">
          <i class="pi pi-plus"></i>&nbsp;&nbsp;Neu
        </p-button>
      </div>
      <div class="col-6" style="text-align: right;">
        <p-button (click)="ngOnInit();">
          <i class="pi pi-spinner"></i>&nbsp;&nbsp;Laden
        </p-button>
      </div>
    </div>

    <div class="row" style="margin-bottom: 30px;">
      <div class="col-6">
      </div>
      <div class="col-6" style="text-align: right;">
        <span class="delete-button">
          <p-button (onClick)="deleteAssociation()">
            <i class="pi pi-trash"></i>&nbsp;&nbsp;Löschen
          </p-button>
        </span>
      </div>
    </div>

    <h4>
      Vereine
      <span>
        ({{associations?.length || 0}})
      </span>
    </h4>

    <app-associations-list [associations]="associations"
                           [selectedAssociationField]="selectedAssociation?.id"
                           [identifiedByFieldName]="'id'"
                           [primeNgIconClass]="'pi pi-pencil'"
                           (selected)="selectAssociation($event)">
    </app-associations-list>
  </div>
</p-sidebar>

<div class="sidebar-trigger-button"
     [ngClass]="{ 'expanded': sidebarExpanded }">
  <p-button type="text"
            [icon]="!sidebarExpanded ? 'pi pi-arrow-left' : 'pi pi-arrow-right'"
            (click)="toggleSidebar()">
  </p-button>
</div>
