<p-confirmDialog [baseZIndex]="10000"></p-confirmDialog>

<p-blockUI [blocked]="blocked">
  <p-progressSpinner></p-progressSpinner>
  <div class="block-ui-text">{{ loadingText }}</div>
</p-blockUI>

<div class="container">
  <div class="fixed-menu-container">
    <p-menubar [model]="mainMenuItems"></p-menubar>
  </div>

  <div class="main-container">
    <app-association-edit-form #editForm
                               [selectedAssociationId]="selectedAssociation?.id"
                               [isNew]="isNew"
                               (blockUi)="blockUi($event)"
                               (reload)="reload($event)">
    </app-association-edit-form>
  </div>

  <p-sidebar [(visible)]="sidebarExpanded"
             [position]="'right'"
             [showCloseIcon]="true"
             [modal]="false">
    <div class="sidebar-content">

      <h4>
        Vereine
        <span>
          ({{associations?.length || 0}})
        </span>
      </h4>

      <app-associations-list [associations]="associations"
                             [noPubAddrAssocIds]="noPubAddrAssocIds"
                             [selectedAssociationField]="selectedAssociation?.id"
                             [identifiedByFieldName]="'id'"
                             (selected)="selectAssociation($event)">
      </app-associations-list>
    </div>
  </p-sidebar>

  <div class="sidebar-trigger-button"
       [ngClass]="{ 'expanded': sidebarExpanded }">
    <p-button type="text"
              [icon]="!sidebarExpanded ? 'pi pi-arrow-left' : 'pi pi-arrow-right'"
              (click)="toggleSidebar()">
    </p-button>
  </div>
</div>
