.form-array-remove, .delete-button {
  p-button ::ng-deep button.p-button, p-button.reset ::ng-deep button.p-button {
    background-color: #F74600 !important;
    border-color: #F74600 !important;

    &:hover, &:active {
      background-color: darken(#F74600, 5%) !important;
      border-color: darken(#F74600, 5%) !important;
    }
  }
}
