set -u # Treat unset variables as an error when substituting.

[ -f ~/.envrc ] && source ~/.envrc

export CMAP_MYSQL_USER=foo    # $USER doesn't work on Guix
export CMAP_MYSQL_HOST=""     # empty value
export CMAP_MYSQL_PORT=3306

# gpg --decrypt .env-secrets.gpg > .env-secrets
# <edit .env-secrets>
# gpg --encrypt --output .env-secrets.gpg --recipient $gpgPubKey .env-secrets
# shred --verbose --remove .env-secrets

# the following command defines CMAP_MYSQL_PASSWORD
source <(gpg --pinentry-mode=loopback --quiet --for-your-eyes-only --decrypt .env-secrets.gpg)
