.hgignore
.hg/

# data
.clj-kondo
.lsp
.idea
/data/.cpcache/
/data/target
/data/classes
/data/checkouts
data/profiles.clj
data/pom.xml
data/pom.xml.asc
data/*.jar
data/*.class
/data/.lein-*
/data/.nrepl-port
/data/src/fdk/data.clj
/data/src/fdk/relevant.clj
/data/*.js

# GNU Guix
/var/lib/mysql/data/*
/var/log/*
/node_modules/
