{
 ;; a new :uberjar alias to build a project-specific JAR file:
 :uberjar {:extra-deps {seancorfield/depstar {:mvn/version "1.1.136"}}
           :exec-fn hf.depstar.uberjar/run
           :exec-args {:jar "fdk.jar"
                       :aot true
                       :main-class project.core}}

 :deps
 {
  org.clojure/clojure           {:mvn/version "1.10.1"}
  org.clojure/data.csv          {:mvn/version "1.0.0"}
  ;; url encode
  ring/ring-codec               {:mvn/version "1.1.2"}
  ;; managing environment variables
  environ/environ               {:mvn/version "1.2.0"}

  ;; wget / get-json
  clj-http/clj-http             {:mvn/version "3.11.0"}

  ;; pretty print json a string
  cheshire/cheshire             {:mvn/version "5.10.0"}

  org.clojure/data.json         {:mvn/version "1.0.0"}

  ;; transducers
  net.cgrand/xforms             {:mvn/version "0.19.2"}

  org.clojars.bost/clj-time-ext {:mvn/version "0.0.0-39-0x3d91"}
  org.clojars.bost/utils        {:mvn/version "0.0.0-45-0x5a42"}

  ;; parse HTML into Clojure data structures - scrapping data from HTML tables
  hickory/hickory               {:mvn/version "0.7.1"}

  ;; read and write M$ Office documents
  dk.ative/docjure              {:mvn/version "1.14.0"}

  ;; https://mvnrepository.com/artifact/org.odftoolkit/simple-odf
  org.odftoolkit/simple-odf     {:mvn/version "0.9.0-RC1"}

  ;; debugging
  ;; https://github.com/vvvvalvalval/scope-capture
  vvvvalvalval/scope-capture    {:mvn/version "0.3.2"}

  ;; TODO https://github.com/LibrePDF/OpenPDF

  org.clojure/core.memoize      {:mvn/version "1.0.236"}

  ;; compute string similarity - identify of what is the association name and
  ;; what is not when web-scrapping association address search results
  ;; https://yomguithereal.github.io/clj-fuzzy/clojure.html
  clj-fuzzy/clj-fuzzy           {:mvn/version "0.4.1"}

  ;; character utility functions: https://github.com/daveyarwood/djy
  ;; Character range from A to Z
  djy/djy                       {:mvn/version "0.2.1"}

  ;; logging
  com.taoensso/timbre           {:mvn/version "5.1.0"}

  ;; low overhead sampling profiler
  ;; start it from CLI with:  -J-Djdk.attach.allowAttachSelf
  ;; com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.4.1"}
  }}
  ;; :plugins
  ;; [
  ;;  ;; project version from git
  ;;  [com.roomkey/lein-v "7.2.0"]
  ;;  ]
  ;; :repl-options {:init-ns fdk.download}
