{:paths   ["src/clj"
           "resources" "src/cljs"]

 :deps
 {

  ;;; "clojure-tools not finding java classes"
  ;;; https://yhetil.org/guix-user/CAOXoXz0fKD+3B+b_y6A8MPYxZcSRDusby6VWTUy8Nnp4Y0fAzQ@mail.gmail.com/
  ;; org.jboss.xnio/xnio-api {:mvn/version "3.8.16.Final"}
  ;; org.jboss.xnio/xnio-nio {:mvn/version "3.8.16.Final"}
  ;; ;;
  ;; org.wildfly.common/wildfly-common {:mvn/version "2.0.1"}
  ;; org.jboss.logging/jboss-logging {:mvn/version "3.6.1.Final"}
  ;; io.smallrye.config/smallrye-config-common {:mvn/version "3.10.2"}
  ;; io.smallrye.common/smallrye-common-net {:mvn/version "2.9.0"}
  ;; org.jboss.threads/jboss-threads {:mvn/version "3.8.0.Final"}
  ;; io.smallrye.common/smallrye-common-cpu {:mvn/version "2.9.0"}

 org.clojure/clojure {:mvn/version "1.12.0"}

 ;; character utility functions: https://github.com/daveyarwood/djy
 ;; Character range from A to Z
 djy/djy {:mvn/version "0.2.1"}

 ;; https://mvnrepository.com/artifact/org.odftoolkit/simple-odf
 org.odftoolkit/simple-odf     {:mvn/version "0.9.0"}

           ;; Routing
 metosin/reitit {:mvn/version "0.7.2"}

           ;; Ring
 metosin/ring-http-response {:mvn/version "0.9.4"}
 ring/ring-core {:mvn/version "1.13.0"}
 ring/ring-defaults {:mvn/version "0.5.0"}

           ;; Logging
 ch.qos.logback/logback-classic {:mvn/version "1.5.12"}

           ;; Data coercion
 luminus-transit/luminus-transit {:mvn/version "0.1.6"
                                  :exclusions [com.cognitect/transit-clj]}
 metosin/muuntaja {:mvn/version "0.6.10"}

           ;; kit Libs
 io.github.kit-clj/kit-core {:mvn/version "1.0.9"}
 io.github.kit-clj/kit-undertow {:mvn/version "1.0.7"}
 io.github.kit-clj/kit-sql-conman {:mvn/version "1.10.5"}
 io.github.kit-clj/kit-sql-migratus {:mvn/version "1.0.5"}
 org.xerial/sqlite-jdbc {:mvn/version "3.47.1.0"}
 io.github.kit-clj/kit-mysql {:mvn/version "1.0.5"}
           ;; From https://github.com/kit-clj/kit/blob/master/libs/kit-mysql/deps.edn
 mysql/mysql-connector-java {:mvn/version "8.0.30"}

           ;; Django inspired template system in Clojure
 selmer/selmer {:mvn/version "1.12.61"}
 luminus/ring-ttl-session {:mvn/version "0.3.3"}}
 :aliases
 {
  :outdated {;; Note that it is `:deps`, not `:extra-deps`
             :deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
             :main-opts ["-m" "antq.core"]}
  :build {:deps {io.github.clojure/tools.build {:git/sha "52cf7d6"
                                                :git/tag "v0.10.6"
                                                :git/url "https://github.com/clojure/tools.build.git"}
                 slipset/deps-deploy {:mvn/version "0.2.2"}
                 weavejester/dependency {:mvn/version "0.2.1"}
                 babashka/fs {:mvn/version "0.5.23"}
                 babashka/process {:mvn/version "0.5.22"}}
          :ns-default build}


  :dev  {:extra-deps  {com.lambdaisland/classpath      {:mvn/version "0.6.58"}
                       criterium/criterium             {:mvn/version "0.4.6"}
                       expound/expound                 {:mvn/version "0.9.0"}
                       integrant/repl                  {:mvn/version "0.4.0"}
                       pjstadig/humane-test-output     {:mvn/version "0.11.0"}
                       ring/ring-devel                 {:mvn/version "1.13.0"}
                       ring/ring-mock                  {:mvn/version "0.4.0"}
                       io.github.kit-clj/kit-generator {:mvn/version "0.2.3"}
                       org.clojure/tools.namespace     {:mvn/version "1.5.0"}
                       }
         :extra-paths ["env/dev/clj" "env/dev/resources" "test/clj" "target/classes/cljsbuild"]}
  :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "1.3.0"}}
          :main-opts  ["-m" "nrepl.cmdline" "-i"]}
  :cider {:extra-deps {nrepl/nrepl       {:mvn/version "1.3.0"}
                       cider/cider-nrepl {:mvn/version "0.50.3"}}
          :main-opts  ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]" "-i"]}

  :test {:extra-deps  {criterium/criterium                  {:mvn/version "0.4.6"}
                       expound/expound                      {:mvn/version "0.9.0"}
                       integrant/repl                       {:mvn/version "0.4.0"}
                       io.github.cognitect-labs/test-runner {:git/tag "v0.5.1"
                                                             :git/sha "dfb30dd"}
                       pjstadig/humane-test-output          {:mvn/version "0.11.0"}
                       ring/ring-devel                      {:mvn/version "1.13.0"}
                       ring/ring-mock                       {:mvn/version "0.4.0"}
                       io.github.kit-clj/kit-generator      {:mvn/version "0.2.3"}
                       org.clojure/tools.namespace          {:mvn/version "1.5.0"}
                       com.lambdaisland/classpath           {:mvn/version "0.6.58"}}
         :exect-fn    cognitect.test-runner.api/test
         :extra-paths ["env/dev/clj" "env/dev/resources" "env/test/resources" "test/clj"]
         :main-opts   ["-e" "(require 'pjstadig.humane-test-output) (pjstadig.humane-test-output/activate!)"
                       "-m" "cognitect.test-runner"]}}
 }
