$alphaOpacity: 0.52; // in %

.pubAddr {
  color: rgba(33, 37, 41, 100);
}
.noPubAddr {
  color: rgba(33, 37, 41, $alphaOpacity);
}
.association-entry {
  padding: 4px;
  border-bottom: #dedede 1px solid;
  transition: background-color 0.5s;
  background-color: transparent;

  &:first-of-type {
    border-top: #dedede 1px solid;
  }

  &.selected {
    color: #00b4d6;
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.empty-entry {
  text-align: center;
  padding-bottom: 24px;
  padding-top: 24px;
}

.icon-padding {
  padding-right: 4px;
}

.icon-and-text {
  display: flex;
  align-items: center;

  .icon {
    padding-right: 4px;
    min-width: 24px;
  }
}
