[mariadb]
lc_messages_dir = #lc_messages_dir#

[mysqld]
log_error = /var/log/mysql.log
datadir = /var/lib/mysql/data
user = #mysqld_user#
collation_server = utf8mb4_unicode_ci
character_set_server = utf8mb4

[mysql]
default-character-set = utf8mb4

[client-server]
socket = /run/mysqld.sock

[client]
user = root
# password
default-character-set = utf8mb4
