.form-array-remove, .delete-button {
  p-button ::ng-deep button.p-button, p-button.reset ::ng-deep button.p-button {
    background-color: #F74600;
    border-color: #F74600;

    &:hover, &:active {
      background-color: darken(#F74600, 5%);
      border-color: darken(#F74600, 5%);
    }
  }
}

.hidden-input {
  visibility: hidden;
}

.option-entry {
  padding: 4px;
  border-bottom: #dedede 1px solid;
  transition: background-color 0.5s;
  background-color: transparent;

  &:first-of-type {
    border-top: #dedede 1px solid;
  }

  &.selected {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.empty-entry {
  text-align: center;
  padding-bottom: 24px;
  padding-top: 24px;
}

.icon-padding {
  padding-right: 4px;
}

.icon-and-text {
  display: flex;
  align-items: center;

  .icon {
    padding-right: 4px;
    min-width: 24px;
  }
}
