.form-array-remove, .delete-button {
  p-button ::ng-deep button.p-button, p-button.reset ::ng-deep button.p-button {
    background-color: #F74600;
    border-color: #F74600;

    &:hover, &:active {
      background-color: darken(#F74600, 5%);
      border-color: darken(#F74600, 5%);
    }
  }
}

.button-row {
  margin-top: 24px;
  text-align: center;
  padding: 12px;

  p-button ::ng-deep button.p-button {
    margin-right: 6px;
    margin-top: 6px;
  }
}

.added {
  background-color: rgba(221, 220, 212, 0.25);
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}

.form-row {
  padding-bottom: 12px;
  transition: background-color 2s;
}
