/* You can add global styles to this file, and also import other style files */
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

body {
  margin: 0;
}

* {
  font-family: 'Roboto', sans-serif;
  @include scrollbars(6px, #aaaaaa, #ffffff);
}

.p-sidebar-close-icon {
  &:before {
    color: #2196F3;
    border-radius: 24px;

    &:hover, &:active {
      color: darken(#2196F3, 10%);
    }
  }
}

a {
  color: #2196F3;
  cursor: pointer;
  text-decoration: none;

  &:hover, &:active {
    color: darken(#2196F3, 10%);
    text-decoration: underline !important;
  }
}


.osm-association-container {
  font-size: 75%;
  background-color: rgba(255, 255, 255, 0.9);
  bottom: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  z-index: 5000;
  border-radius: 12px;
  box-shadow: 0 0 4px rgba(#333, 0.66);

  > #popup-close {
    position: absolute;
    right: 16px;
    top: 12px;
    padding: 8px;
    border-radius: 20px;
    width: 32px;
    height: 32px;
    transition: background-color 0.3s;

    &:hover, &:active {
      background-color: #e9ecef;
    }

    &:focus, &:active {
      box-shadow: 0 0 0 0.2rem #a6d5fa;
    }
  }

  .osm-association-inner-container {
    padding: 12px;
    max-height: min(760px, 85vh);
    overflow-y: auto;
  }
}

.association-container, .osm-association-container .osm-association-inner-container {
  min-width: 200px;
  max-width: min(95vw, 360px);

  p, h2, h3, a, li, div {
    -webkit-touch-callout: default;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }

  p {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  strong, h2, h3 {
    font-weight: 400;
  }

  h2 {
    margin-top: 32px;
    margin-bottom: 0;
  }

  h3 {
    margin-top: 24px;
    margin-bottom: 0;
  }

  h2 + div > h3 {
    margin-top: 8px;
  }

  ul {
    margin: 0;
  }
}

.association-title {
  font-size: 120%;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.association-chips-container {
  width: 100%;
  padding-top: 6px;

  .association-chips {
    display: inline-block;
    padding: 2px;
    border: #AAAAAA 1px solid;
    background-color: #fff;
    margin-right: 4px;
    margin-bottom: 4px;
    white-space: nowrap;
  }
}

.association-images {
  min-width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;

  .association-image {
    text-align: center;
    display: inline-block;
    margin: auto auto 6px;

    img {
      max-height: 200px;
      max-width: 100%;
      width: auto;
      margin: auto;
    }
  }

  .association-image + .association-image {
    margin-left: 20px !important;
  }
}

.social-media-link, .association-contact-row {
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 4px;
}

.association-links ul {
  padding-inline-start: 26px;

  li {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

.mini-icon {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  display: inline-block;
  flex-shrink: 0;
  flex-basis: 20px;

  img {
    width: 100%;
  }
}

.mini {
  font-size: 75%;
}

.mini-button {
  cursor: pointer;
  font-size: 75% !important;
}

.p-sidebar {
  overflow-y: auto;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
  display: inline-block;
}

.sidebar-input-full-width {
  width: 288px !important;
}

.input-margin-bottom {
  margin-bottom: 16px;
}

p-autoComplete {
  margin-right: 6px;

  .p-autocomplete-input {
    width: 228px;
  }

  .pi.pi-spinner {
    display: none;
  }
}

.on-top {
  z-index: 5000;
}

.grouped-multiselect-panel {
  min-height: 300px;

  .p-multiselect-items-wrapper {
    min-height: 300px;
  }
}

.filter-chips {
  margin-top: 6px;

  .filter-chip {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 12px;
    background-color: #2196F3;
    color: #fff;
    margin-right: 4px;
    margin-bottom: 4px;
    white-space: nowrap;
    font-size: 75%;
    text-align: center;
  }

  .filter-chip:last-child {
    margin-right: 0 !important;
  }
}

hr {
  border: 0;
  border-bottom: 1px solid #dedede;
  margin-top: 24px;
  margin-bottom: 24px;
}

p-toast .p-toast {
  z-index: 9999 !important;
}

p-blockUI .p-blockui-document {
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.67) !important;
}

.block-ui-text {
  color: white;
  font-size: 200%;
}

app-simple-map-with-single-marker .ol-overlay-container.ol-selectable {
  pointer-events: none !important;
}

.sidebar-trigger-button {
  position: fixed;
  top: 45%;
  right: 0;
  z-index: 5000;
  transition: transform 0.3s;
}

@media (min-width: 360px) {
  .sidebar-trigger-button.expanded {
    transform: translateX(-320px);
  }
}

.sidebar-content {
  padding-top: 40px;

  .clear-button {
    text-align: center;
    margin-top: 20px;
  }
}

.logo {
  max-width: 100px;
  margin: -32px auto auto;
  text-align: center;

  .logo-img {
    width: 100%;
  }
}

.overflow-x {
  width: 100% !important;
  overflow-x: auto;
}

.yellow {
  color: rgb(247, 185, 42);
}

p-confirmDialog .p-dialog-content .p-confirm-dialog-message {
  margin: 0 !important;
}

.form-container {
  margin: auto;
  max-width: 768px;
  padding: 20px;
}

.p-field {
  margin-top: 16px;
}

.half-width-form-left, .half-width-form-right, .quarter-width-form-right, .third-width-form-right, .sixth-width-form-right {
  display: inline-block;

  .invalid-label, .hint {
    margin-top: -6px;
  }
}

.half-width-form-left {
  width: 50%;
  padding-right: 12px;
}

.half-width-form-right {
  width: 50%;
  padding-left: 12px;
}

.third-width-form-right, .sixth-width-form-right {
  padding-left: 12px;

  p-button {
    margin-right: 6px;

    .p-button {
      position: relative;
      top: 7px;
      width: 51px;
    }
  }

  .third-width-form-right {
    width: 33%;
  }

  .sixth-width-form-right {
    width: 16%;
  }
}

fieldset, div.fieldset {
  border: rgb(206, 212, 218) 1px solid;
  border-radius: 3px;
  margin-bottom: 24px;
  margin-left: 0;
  margin-right: 0;
}

.form-array-add, .form-array-remove {
  margin-top: 12px;
  text-align: center;
  width: 100%;
}

.form-array-remove, .form-array-add {
  p-button ::ng-deep .p-button-label {
    display: none;
  }
}

.submit, .reset {
  ::ng-deep button.p-button {
    margin-left: 6px !important;
  }
}

.red {
  color: #F74600;
}

.hint {
  font-size: 75%;
  color: rgb(247, 185, 42);
}

.invalid-label {
  color: #F74600;
  font-size: 75%;
}

.invalid-fieldset {
  border-color: #F74600;
}
