.pubAddr {
	  color: rgba(209, 56, 88, 100);
}
.noPubAddr {
	  color: #00b4d6;
}
.association-entry {
	  padding: 4px;
	  border-bottom: #dedede 1px solid;
	  transition: background-color 0.5s;
	  background-color: transparent;
}
.association-entry:first-of-type {
	  border-top: #dedede 1px solid;
}
.association-entry.selected {
	  text-decoration: underline;
}
.empty-entry {
	  text-align: center;
	  padding-bottom: 24px;
	  padding-top: 24px;
}
.icon-padding {
	  padding-right: 4px;
}
.icon-and-text {
	  display: flex;
	  align-items: center;
}
.icon-and-text .icon {
	  padding-right: 4px;
	  min-width: 24px;
}
