h2 {
  margin-top: 48px;
}

label {
  font-size: 75%;
  margin-top: 16px;
}

h4 {
  margin-top: 24px;
  margin-bottom: -4px;
}
h6 {
  margin-top: 16px;
}

app-grouped-multi-select {
  width: 100%;

  ::ng-deep p-multiselect {
    width: 100% !important;
  }
}

.fieldset {
  padding: 16px;
}

.button-row {
  margin-top: 24px;
  text-align: center;
  padding: 12px;

  p-button ::ng-deep button.p-button {
    margin-right: 6px;
    margin-top: 6px;
  }
}

.form-array-remove, .delete-button {
  p-button ::ng-deep button.p-button, p-button.reset ::ng-deep button.p-button {
    background-color: #F74600;
    border-color: #F74600;

    &:hover, &:active {
      background-color: darken(#F74600, 5%);
      border-color: darken(#F74600, 5%);
    }
  }
}
