h2 {
  margin-top: 48px;
}

label {
  font-size: 75%;
  margin-top: 16px;
}

h4 {
  margin-top: 24px;
  margin-bottom: -4px;
}

h6 {
  margin-top: 16px;
}

app-grouped-multi-select {
  width: 100%;

  ::ng-deep p-multiselect {
    width: 100% !important;
  }
}

.fieldset {
  padding: 16px;
}

.button-row {
  margin-top: 24px;
  text-align: center;
  padding: 12px;

  p-button ::ng-deep button.p-button {
    margin-right: 6px;
    margin-top: 6px;
  }
}

a.no-decoration {
  &:hover, &:active, &:focus {
    text-decoration: none !important;
  }
}

.popup-preview {
  margin-top: 16px;
  width: 100%;
  min-height: 400px;
  padding: 40px min(40px, 5%);
  background-image: url('/../../../assets/blur-map.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .popup {
    margin: auto;
    width: 80%;
    max-width: 380px;
    min-width: 210px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    font-size: 85%;

    .popup-inner {
      height: 100%;
      overflow-y: scroll;
      max-height: 75vh;
      padding: 20px 5%;

      p {
        margin-bottom: 0;
      }

      h1 {
        font-size: 200%;
        margin-bottom: 24px;
      }

      h2 {
        font-size: 180%;
        margin-top: 32px;
        margin-bottom: 12px;
      }

      h3 {
        font-size: 150%;
        margin-top: 24px;
        margin-bottom: 4px;
      }

      h2 + div > h3, h2 + h3 {
        margin-top: -6px;
      }
    }
  }
}
