<p-multiSelect #multiSelect
               [filter]="false"
               [showToggleAll]="false"
               [styleClass]="styleClass"
               [panelStyleClass]="'grouped-multiselect-panel'"
               [options]="internalGroupedOptions"
               [ngModel]="value"
               (onChange)="changeSelectedOptions($event)"
               (ngModelChange)="multiSelect.value = $event"
               [placeholder]="placeholder">

  <ng-template pTemplate="selectedItems">
    <span>{{ getSelectedItemsLabel() }}</span>
  </ng-template>

  <ng-template let-option let-i="index" pTemplate="item">
    <div class="sidebar-input-full-width"
         [ngClass]="{ 'group-header-option': !isSubOption(option), 'sub-option': isSubOption(option) }">
      {{ option.label }}
      <span class="select-hint" *ngIf="!isSubOption(option)">
        <span *ngIf="value.includes(option.value)">(Alle abwählen)</span>
        <span *ngIf="!value.includes(option.value)">(Alle auswählen)</span>
      </span>
    </div>
  </ng-template>
</p-multiSelect>
