<div class="fullscreen-container" id="fullscreen-content">

  <router-outlet></router-outlet>

  <div class="fullscreen-button" *ngIf="fullscreenEnabled">
    <button pButton
            (click)="toggleFullscreen()"
            [label]="''"
            class="p-button-raised p-button-rounded"
            style="vertical-align: middle; line-height: 16px;">
      <i class="pi"
         [ngClass]="{ 'pi-window-minimize' : showCloseIcon, 'pi-window-maximize': !showCloseIcon }"></i>
      <span *ngIf="!isInFullscreen">&nbsp;&nbsp;Vollbild</span>
    </button>
  </div>
</div>

<div class="version">
  <small>{{ version }}</small>
</div>

