ErrorDocument 400 /edit/
ErrorDocument 401 /edit/
ErrorDocument 403 /edit/
ErrorDocument 404 /edit/
ErrorDocument 500 /edit/

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteCond %{HTTPS} !=on
  RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>
