/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

$blue: #00b4d6;
$red: #F74600;

/* alegreya-sans-300 - latin */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/alegreya-sans/alegreya-sans-v13-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('assets/fonts/alegreya-sans/alegreya-sans-v13-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/alegreya-sans/alegreya-sans-v13-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/alegreya-sans/alegreya-sans-v13-latin-300.woff') format('woff'), /* Modern Browsers */
  url('assets/fonts/alegreya-sans/alegreya-sans-v13-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/alegreya-sans/alegreya-sans-v13-latin-300.svg#AlegreyaSans') format('svg'); /* Legacy iOS */
}

/* alegreya-sans-regular - latin */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/alegreya-sans/alegreya-sans-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('assets/fonts/alegreya-sans/alegreya-sans-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/alegreya-sans/alegreya-sans-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/alegreya-sans/alegreya-sans-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('assets/fonts/alegreya-sans/alegreya-sans-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/alegreya-sans/alegreya-sans-v13-latin-regular.svg#AlegreyaSans') format('svg'); /* Legacy iOS */
}

/* alegreya-sans-500 - latin */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/alegreya-sans/alegreya-sans-v13-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('assets/fonts/alegreya-sans/alegreya-sans-v13-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/alegreya-sans/alegreya-sans-v13-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/alegreya-sans/alegreya-sans-v13-latin-500.woff') format('woff'), /* Modern Browsers */
  url('assets/fonts/alegreya-sans/alegreya-sans-v13-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/alegreya-sans/alegreya-sans-v13-latin-500.svg#AlegreyaSans') format('svg'); /* Legacy iOS */
}

/* alegreya-sans-700 - latin */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/alegreya-sans/alegreya-sans-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('assets/fonts/alegreya-sans/alegreya-sans-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/alegreya-sans/alegreya-sans-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/alegreya-sans/alegreya-sans-v13-latin-700.woff') format('woff'), /* Modern Browsers */
  url('assets/fonts/alegreya-sans/alegreya-sans-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/alegreya-sans/alegreya-sans-v13-latin-700.svg#AlegreyaSans') format('svg'); /* Legacy iOS */
}

/* alegreya-sans-900 - latin */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 900;
  src: url('assets/fonts/alegreya-sans/alegreya-sans-v13-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('assets/fonts/alegreya-sans/alegreya-sans-v13-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/alegreya-sans/alegreya-sans-v13-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/alegreya-sans/alegreya-sans-v13-latin-900.woff') format('woff'), /* Modern Browsers */
  url('assets/fonts/alegreya-sans/alegreya-sans-v13-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/alegreya-sans/alegreya-sans-v13-latin-900.svg#AlegreyaSans') format('svg'); /* Legacy iOS */
}

/* You can add global styles to this file, and also import other style files */
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

body {
  margin: 0;
}

body *:not(i):not(.pi) {
  font-family: 'Alegreya Sans', sans-serif !important;
  @include scrollbars(6px, #aaaaaa, #ffffff);
}

.container {
  padding-top: 100px !important;
  padding-bottom: 60px;

  .sidebar-content {
    padding-top: 100px !important;
  }

  .p-sidebar-close {
    top: 56px !important;
  }
}

.fixed-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 18000;
}

.p-button:not(.p-button-text):not(.p-confirm-dialog-reject) {
  background-color: $blue;
  border-color: $blue;

  &:hover, &:active {
    background-color: darken($blue, 10%);
    border-color: darken($blue, 10%);
  }
}

.p-menuitem-link:not(.p-disabled) .p-menuitem-icon:before, .p-menubar-button i:before {
  color: $blue;
}

.p-menubar-button {
  text-decoration: none !important;
}

.p-button-text {
  color: $blue !important;
}

.p-button-label {
  display: none;
}

.p-confirm-dialog-accept, .p-confirm-dialog-reject {
  .p-button-icon {
    margin-right: 0 !important;
  }
}

.p-button.p-confirm-dialog-reject {
  background-color: $red !important;
  border-color: $red !important;
}

.p-sidebar-close-icon {
  &:before {
    color: $blue;
    border-radius: 24px;

    &:hover, &:active {
      color: darken($blue, 10%);
    }
  }
}

.p-inputswitch.p-inputswitch-checked:not(.p-disabled) .p-inputswitch-slider {
  background-color: $blue !important;
}

.switch-label {
  font-size: 120%;
  line-height: 28px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 12px;

  strong {
    color: $blue;
    font-weight: 600;

    &.red {
      color: $red;
    }
  }
}

a:not(.p-menuitem-link):not(.p-menubar-button) {
  color: $blue !important;
  cursor: pointer;
  text-decoration: none;

  &:hover, &:active {
    color: darken($blue, 10%);
    text-decoration: underline !important;
  }
}

.p-sidebar {
  overflow-y: auto;
}

.sidebar-input-full-width {
  width: 288px !important;
}

.input-margin-bottom {
  margin-bottom: 16px;
}

p-autoComplete {
  margin-right: 6px;

  .p-autocomplete-input {
    width: 228px;
  }

  .pi.pi-spinner {
    display: none;
  }
}

.grouped-multiselect-panel {
  min-height: 300px;

  .p-multiselect-items-wrapper {
    min-height: 300px;
  }
}

hr {
  border: 0;
  border-bottom: 1px solid #dedede;
  margin-top: 24px;
  margin-bottom: 24px;
}

p-toast .p-toast {
  z-index: 19000 !important;
}

.p-blockui-document {
  z-index: 30000 !important;
  background-color: rgba(0, 0, 0, 0.67) !important;
}

.block-ui-text {
  color: white;
  font-size: 200%;
}

app-simple-map-with-single-marker .ol-overlay-container.ol-selectable {
  pointer-events: none !important;
}

.sidebar-trigger-button {
  position: fixed;
  top: 45%;
  right: 0;
  z-index: 10000;
  transition: transform 0.3s;
}

@media (min-width: 360px) {
  .sidebar-trigger-button.expanded {
    transform: translateX(-320px);
  }
}

.sidebar-content {
  padding-top: 40px;

  .clear-button {
    text-align: center;
    margin-top: 20px;
  }
}

.logo {
  max-width: 100px;
  margin: -32px auto auto;
  text-align: center;

  .logo-img {
    width: 100%;
  }
}

.overflow-x {
  overflow-x: auto;
}

.yellow {
  color: rgb(247, 185, 42);
}

p-confirmDialog .p-dialog-content .p-confirm-dialog-message {
  margin: 0 !important;
}

.form-container {
  margin: auto;
  max-width: 768px;
  padding: 20px;
}

fieldset, div.fieldset {
  border: rgb(206, 212, 218) 1px solid;
  border-radius: 3px;
  margin-bottom: 24px;
  margin-left: 0;
  margin-right: 0;
}

.form-array div:nth-child(2n) .form-array-block:not(.invalid-block) {
  background-color: rgb(251, 251, 247);
}

.form-array-remove, .form-array-add {
  p-button ::ng-deep .p-button-label {
    display: none;
  }
}

.form-array-remove, .form-array-add {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-top: 13px;
  text-align: center;
  width: 100%;
}

.form-array-remove, .form-array-add, .delete-button, .add-button {
  .p-button {
    width: 35px !important;
    padding-left: 9px;
    padding-right: 9px;
    height: 42px !important;

    i {
      width: 16px !important;
    }
  }
}

.form-array-remove, .delete-button {
  .p-button, p-button.reset .p-button {
    background-color: #F74600 !important;
    border-color: #F74600 !important;

    &:hover, &:active {
      background-color: darken(#F74600, 5%) !important;
      border-color: darken(#F74600, 5%) !important;
    }
  }
}

.submit, .reset {
  ::ng-deep button.p-button {
    margin-left: 6px !important;
  }
}

.red {
  color: #F74600;
}

.small {
  font-size: 85%;
}

.hint {
  font-size: 85%;
  color: rgb(247, 185, 42);
  margin-bottom: 0;
}

.invalid-label {
  color: #F74600;
  font-size: 85%;
  margin-bottom: 0;
}

.invalid-block {
  background-color: rgba(#F74600, 0.05);
}

.p-fluid {
  margin-top: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

#gcd-button-control {
  display: none;
}

#gcd-container {
  margin-top: -1px;
  margin-left: 42px;
  max-width: max(240px, 50%);
  font-size: 70%;

  .gcd-gl-control {
    min-width: 240px;
    width: 100%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 6px;
    margin-top: 12px;

    input {
      width: 100%;
    }
  }

  .gcd-gl-result {
    padding: 4px 0 12px 24px;
    background-color: rgba(255, 255, 255, 0.75);
    margin: 0;

    li {
      text-align: left;
    }
  }
}

.invisible-marker {
  display: none;
}

.align-section-action-button {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.align-form-row-action-button {
  padding-top: 24px;

  p-button button.p-button {
    height: 40px;

    i {
      width: 100%;
      text-align: center;
    }
  }
}

@media(max-width: 767px) {
  .align-form-row-action-button {
    padding-top: 0 !important;
    padding-bottom: 20px;
  }

  .form-array-remove {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .form-array-remove, .form-array-add, .delete-button, .add-button {
    .p-button {
      width: 100% !important;

      i, i:before {
        margin: auto !important;
      }
    }
  }
}

.p-field label {
  font-size: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: -4px;
}

.no-margin {
  margin: 0 !important;
}

.osm-association-container {
  font-size: 85%;
  background-color: rgba(255, 255, 255, 0.9);
  bottom: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  z-index: 9000;
  border-radius: 12px;
  box-shadow: 0 0 4px rgba(#333, 0.66);

  > #popup-close {
    position: absolute;
    right: 16px;
    top: 12px;
    padding: 8px;
    border-radius: 20px;
    width: 32px;
    height: 32px;
    transition: background-color 0.3s;

    &:hover, &:active {
      background-color: #e9ecef;
    }

    &:focus, &:active {
      box-shadow: 0 0 0 0.2rem #a6d5fa;
    }
  }

  .osm-association-inner-container {
    padding: 12px;
    max-height: min(760px, 85vh);
    overflow-y: auto;
  }
}

.association-container, .osm-association-container .osm-association-inner-container {
  min-width: 200px;
  max-width: min(95vw, 360px);

  p, h2, h3, a, li, div {
    -webkit-touch-callout: default;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }

  p {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  strong, h2, h3 {
    font-weight: 400;
  }

  h2 {
    margin-top: 32px;
    margin-bottom: 0;
  }

  h3 {
    margin-top: 24px;
    margin-bottom: 0;
  }

  h2 + div > h3 {
    margin-top: 8px;
  }

  ul {
    margin: 0;
  }
}

.association-title {
  font-size: 120%;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.association-chips-container {
  width: 100%;

  .association-chips {
    display: inline-block;
    padding: 2px 2px 0;
    border: #AAAAAA 1px solid;
    background-color: #fff;
    margin-right: 4px;
    margin-bottom: 4px;
    white-space: nowrap;
  }
}

.association-images {
  min-width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;

  .association-image {
    text-align: center;
    display: inline-block;
    margin: auto auto 6px;

    img {
      max-height: 200px;
      max-width: 100%;
      width: auto;
      margin: auto;
    }
  }

  .association-image + .association-image {
    margin-left: 20px !important;
  }
}

.social-media-link, .association-contact-row {
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 4px;
}

.association-links ul {
  padding-inline-start: 26px;

  li {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

.mini-icon {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  display: inline-block;
  flex-shrink: 0;
  flex-basis: 20px;

  img {
    width: 100%;
  }
}

.mini {
  font-size: 85%;
}

.mini-button {
  cursor: pointer;
  font-size: 85% !important;
}

.row.p-fluid {
  padding-bottom: 12px;
}
