<div style="position: relative; z-index: 30000;">
  <p-blockUI [blocked]="blocked">
    <p-progressSpinner></p-progressSpinner>
    <div class="block-ui-text">{{ loadingText }}</div>
  </p-blockUI>
</div>

<div class="login-overlay" [ngClass]="{ 'logged-in' : loginStatus }">
  <div class="login-container" *ngIf="!loginStatus">
    <div class="login-form">
      <div class="row">
        <div class="col-12">
          <h1>Stadtteilkarte bearbeiten &ndash; Login</h1>

          <p>Nutze deine <strong>Wordpress-Zugangsdaten</strong>.</p>
        </div>
      </div>
      <form [formGroup]="loginForm">
        <div class="row p-fluid">
          <div class="col-12 p-field">
            <label for="username">Username*</label>
            <input pInputText
                   id="username"
                   formControlName="username"
                   type="text"/>
          </div>
          <div class="col-12 p-field" style="margin-top: 16px;">
            <label for="password">Passwort*</label>
            <input pInputText
                   id="password"
                   formControlName="password"
                   type="password"/>
          </div>
        </div>
        <div class="row p-fluid">
          <div class="col-12">
            <p-button (click)="login()"
                      type="submit"
                      [disabled]="!loginForm.valid">
              Login
            </p-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<p-toast key="loginToast"></p-toast>
