@import '../../styles.scss';

.login-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 18500;
  background-color: rgba(255, 255, 255, 0.75);

  &.logged-in {
    background: transparent;
    pointer-events: none;
  }

  .login-container {
    max-width: 360px;
    margin: auto;
    min-height: 90vh;
    display: flex;
    align-content: center;
    align-items: center;

    .login-form {
      width: 100%;
      display: block;
      padding: 20px;
      background-color: rgba(255, 255, 255, 0.9);
      border-radius: 12px;
      border: 1px $blue solid;
    }
  }
}
